<section>
    <h1 class="main-header">Edit Accommodation</h1>
    {{#if error}}
        <div class="error-box">
            {{#each error.messages}}
                <div class="error-field">{{this}}</div>
            {{/each}}
        </div>
    {{/if}}
    
    {{#with room}}
    <div class="form-wrapper">
        <form action="/room/{{_id}}/edit" method="post">
            <div class="form-control-container">
                <label for="name" class="form-label">
                    Name                
                </label>
                <input 
                        id="name"
                        type="text" 
                        name="name"
                        value="{{name}}"
                        class="form-control"
                    >
            </div>
            <div class="form-control-container">
                <label for="description" class="form-label">
                    Description
                </label>
                <textarea id="description" rows="5" name="description" class="form-control">{{description}}</textarea>
            </div>
            <div class="form-control-container">
                <label for="location" class="form-label">
                    Location
                </label>
                <input 
                        id="location"
                        type="text"
                        name="location"
                        value="{{location}}"
                        class="form-control"
                    >
            </div>
            <div class="form-control-container">
                <label for="price" class="form-label">
                    Price
                </label>
                <input 
                        id="price"
                        type="number"
                        name="price"
                        value="{{price}}"
                        class="form-control"
                    >
            </div>
            <div class="form-control-container">
                <label for="beds" class="form-label">
                    Beds
                </label>
                <input 
                        id="beds"
                        type="number" 
                        name="beds"
                        value="{{beds}}"
                        class="form-control"
                    >
            </div>
            <div class="form-control-container">
                <label for="imgUrl" class="form-label">
                    Image
                </label>
                <input 
                        id="imgUrl"
                        type="text" 
                        name="imgUrl"
                        value="{{imgURL}}"
                        class="form-control"
                    >
            </div>
            <button type="submit" class="btn btn-primary btn-submit">Update</button>
        </form>
    </div>
    {{/with}}
</section>