<li class="catalog-item">
    <span class="main-content main-content-improvement">{{name}} - BGN {{price}}</span>
    <span class="description-content">{{description}}</span>
    <img class="img-wrapper" src="{{imgURL}}"/>
    <p><a href="/catalog/{{_id}}">View Details</a></p>
</li>