<section>
    <span class="main-header">All Accommodations</span>
    <main class="main-content">
        <span class="sub-header">Search</span>
        <div>
            <form action="/catalog" method="get" class="search-menu">
                    <input type="text" placeholder="Name" name="name" value="{{name}}">
                    <input type="text" placeholder="Location" name="location" value="{{location}}">
                    <input type="number" placeholder="From Price" name="fromPrice" value="{{fromPrice}}">
                    <input type="number" placeholder="To Price" name="toPrice" value="{{toPrice}}">
                <button class="btn btn-primary btn-submit">Submit</button>
            </form>
        </div>
    </main>
    
    {{#if roomsFromDB}}
        <ul>
            {{#each roomsFromDB}}
                {{>roomCard}}
            {{/each}}
        </ul>
        {{else}}
        <div>No data available at this point of time! Be the first! <a href="/create">Host</a></div>
    {{/if}}
</section>