<section>
    <h1>New Accommodation</h1>
    {{#if error}}
    <div>
        {{#each error.messages}}
            <div>{{this}}</div>
        {{/each}}
    </div>
    {{/if}}
    <form action="/create" method="post">
        <div>
            <label for="name">
                <span>Name</span>
                <input type="text" name="name" value="{{body.name}}">
            </label>
        </div> 
        <div>
            <label for="description">
                <span>Description</span>
                <textarea rows="5" name="description">{{body.description}}</textarea>
            </label>
        </div> 
        <div>
            <label for="location">
                <span>Location</span>
                <input type="text" name="location" value="{{body.location}}">
            </label>
        </div>
        <div>
            <label for="price">
                <span>Price</span>
                <input type="number" name="price" value="{{body.price}}">
            </label>
        </div>
        <div>
            <label for="beds">
                <span>Beds</span>
                <input type="number" name="beds" value="{{body.beds}}">
            </label>
        </div>
        <div>
            <label for="imgUrl">
                <span>Image</span>
                <input type="text" name="imgUrl" value="{{body.imgUrl}}">
            </label>
        </div>
        <input type="submit" value="Publish">
    </form>
</section>