<section>
    <span class="main-header">New Accommodation</span>
    {{#if error}}
    <div class="error-box">
        {{#each error.messages}}
            <div class="error-field">{{this}}</div>
        {{/each}}
    </div>
    {{/if}}
    <div class="form-wrapper">
        <form action="/create" method="post">
        <div class="form-control-container">
            <label for="name" class="form-label">
                Name
            </label>
            <input id="name" type="text" name="name" value="{{body.name}}" class="form-control">
        </div>
        <div class="form-control-container">
            <label for="description" class="form-label">
                Description
            </label>
            <textarea id="description" rows="5" name="description" class="form-control">{{body.description}}</textarea>
        </div> 
        <div class="form-control-container">
            <label for="location" class="form-label">
                Location
            </label>
            <input id="location" type="text" name="location" value="{{body.location}}" class="form-control">
        </div>
        <div class="form-control-container">
            <label for="price" class="form-label">
                Price
            </label>
            <input id="price" type="number" name="price" value="{{body.price}}" class="form-control">
        </div>
        <div class="form-control-container">
            <label for="beds" class="form-label">
                Beds
            </label>
            <input id="beds" type="number" name="beds" value="{{body.beds}}" class="form-control">
        </div>
        <div class="form-control-container">
            <label for="imgUrl" class="form-label">
                Image
            </label>
            <input id="imgUrl" type="text" name="imgUrl" value="{{body.imgUrl}}" class="form-control">
        </div>
        <input type="submit" value="Publish" class="btn btn-primary btn-submit">
    </form>
    </div>
</section>