<section>
        <h1>{{room.name}} - Details</h1>
        <main>
            <div>
                <img src="{{room.imgURL}}" alt="">
            </div>
            <div>
                <h1>Facilities: </h1>
            <form action="/facility/{{room._id}}/decorateRoom" method="post">
                {{#each facilities}}
                    <ul>
                        <li><label>{{label}}</label><img src="{{iconUrl}}"/><input type="checkbox" name="{{_id}}"></li>
                    </ul>
                {{/each}}
                <button>Confirm</button>
            </form>
            </div>
        </main>
</section>