<section>
    {{#with room}}
        <h1>{{name}} - Details</h1>
        <main>
            <div>
                <img src="{{imgURL}}" alt="">
            </div>
            <p>{{description}}</p>
            <p><strong>Price per night: BGN {{price}}</strong></p>
            {{#if isOwner}}
            <div>
                <a href="/facility/{{_id}}/decorateRoom">Edit</a>
            </div>
            {{/if}}
        </main>
    {{/with}}
</section>