<section>
    {{#with room}}
        <h1>{{name}} - Details</h1>
        <main>
            <div>
                <img src="{{imgURL}}" >
            </div>
            <p>{{description}}</p>
            <p><strong>Price per night: BGN {{price}}</strong></p>
            {{location}}
            <ul>
            {{#each facilities}}
                <li>{{label}}</li>
                <img src="{{iconUrl}}"/>
            {{/each}}
            </ul>
        {{#if isOwner}}
            <div>
                <a href="/facility/{{_id}}/decorateRoom">Edit Facility</a>
            </div>
            <div>
                 <a href="/room/{{_id}}/edit">Edit</a>
            </div>
            <div>
                <a href="/room/{{_id}}/delete">Delete</a>
            </div>
            {{/if}}
        </main>
        <footer>Listed by owner TODO!!</footer>
    {{/with}}
</section>