<section>
    <div class="catalog-container">
    {{#with room}}
        <div class="catalog-wrapper" style="flex-direction: column">
            <h1 class="main-header">{{name}} - Details</h1>
            
            <div class="catalog-item" style="height: auto; padding: 15px;">
                <div>
                    <img src="{{imgURL}}" class="img-wrapper">
                </div>
                <span class="description-content">{{description}}</span>
                <span class="price-content">Price per night: BGN {{price}}</span>
                {{location}}
                <ul class="facilities-item-own">
                    {{#if facilities}}
                        {{#each facilities}}
                            <li class="facility-item-own">
                                <span class="facility-label">{{label}}</span>
                                <img class="img-facility-wrapper" src="{{iconUrl}}"/>
                            </li>
                        {{/each}}
                    {{else}}
                        <span style="background: #FFFFFF; width: 100%;">No facilities added!</span>
                    {{/if}}
                </ul>
            {{#if isOwner}}
                <div class="item-nav">
                    <div>
                        <a href="/facility/{{_id}}/decorateRoom">Edit Facility</a>
                    </div>
                    <div>
                        <a href="/room/{{_id}}/edit">Edit</a>
                    </div>
                    <div>
                        <a href="/room/{{_id}}/delete">Delete</a>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    {{/with}}
    </div>
</section>