<section>
    <h1>Edit Accommodation</h1>
    {{#if error}}
        <div>
            {{#each error.messages}}
                 <div>{{this}}</div>     
            {{/each}}
        </div>
    {{/if}}
        <form action="/room/{{room._id}}/edit" method="post">
            
            {{#with room}}
            <div>
                <label for="name">
                    <span>Name</span>
                    <input 
                        type="text" 
                        name="name"
                        value="{{name}}"           
                    >
                </label>
            </div>
            <div>
                <label for="description">
                    <span>Description</span>
                    <textarea rows="5" name="description">{{description}}</textarea>
                </label>
            </div>
            <div>
                <label for="location">
                    <span>Location</span>
                    <input 
                        type="text"
                        name="location"
                        value="{{location}}"
                    >
                </label>
            </div>
            <div>
                <label for="price">
                    <span>Price</span>
                    <input 
                        type="number"
                        name="price"
                        value="{{price}}"
                    >
                </label>
            </div>
            <div>
                <label for="beds">
                    <span>Beds</span>
                    <input 
                        type="number" 
                        name="beds"
                        value="{{beds}}"
                    >
                </label>
            </div>
            <div>
                <label for="imgUrl">
                    <span>Image</span>
                    <input 
                        type="text" 
                        name="imgUrl"
                        value="{{imgUrl}}"
                    >
                </label>
            </div>
            {{/with}}
            <input type="submit" value="Update">
        </form>
</section>